
.header {
  text-align: left;
  padding: 10px 0px;
  color: blanchedalmond;
  font: 1.5em sans-serif;
}
.addRole {
  justify-content: end;
  width: 10%;
  height: 40px;
  margin-left: 70%;
  margin-top: 5%;
  
}
.footer{

}
