.grid {
   // background:linear-gradient(transparent,#fff);
    border-radius: 25px;
    //padding: 5%;
    //margin: 10%;
    //box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2),0px 3px 4px 0px rgba(0,0,0,0.14),0px 1px 8px 0px rgba(0,0,0,0.12);
   
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding: 10px 0px;
    color: black;
    font: 1.2em sans-serif;
    margin-bottom: 20px;
    align-items: center;
  }
  
  #tableComponent {
    text-align: center;
    width: 100%;
  }
  
  #tableComponent td, #tableComponent th {
   border: 1px solid #ddd;
    padding: 8px;
  }

  
  //#tableComponent tr:nth-child(even){background-color: #f2f2f2;}
  
  //#tableComponent tr:hover {background-color: #ddd;}
  
  #tableComponent th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  }
  #tableComponent tr {
    border: 1px solid #ddd;
  }

  .addUser {
    display: flex;
    float: right;
    justify-content: end;
    width: max-content;
    height: 40px;
    margin-left: 30px;
    //margin-top: 50px;
  }