// .TextField {
//    width: 100%;
//    padding: 16px;
//    .input {
//     width: 100%;
// }
// }

.add-user {
  display: inline-block;
  //width: 300px;
}
.imageSelect {
  margin-top: 15px;
}

.profilePic {
  margin: 20px 0px;
}