.form-group {
  text-transform: capitalize;
  padding: 1em;
  width: 100%;
  color: white;
}
.form-group label {
  display: block;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0.5rem;
}
.size-inputs {
  display: flex;
}
.size-input {
  width: 40%;
  padding: 0.2rem;
  border: 1px solid var(--mainBlack);
  border-radius: 0.3rem;
  margin-right: 0.3rem;
}
@media screen and (min-width: 776px) {
  .filter-form {
    width: 70vw;
  }
}
.root-custom {
  color: white;
}