.TextField {
    display: flex;
    text-align: left;
    flex-direction: column;
    //background-color: white;
    margin-bottom: 10px;
    //color: black;
}
.label {
    display: flex;
    align-items: center;
}
.full-width{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.input {
    text-align: left;
    font: 1em sans-serif;
    padding: 12px 15px;
    border-color:internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195));
    border-width: 0px 0px 1px 0px;
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    margin-top: 10px;
    outline-width: 0;
    background-color: #f6f6f6;
}

.input:focus {
    outline-width: 0;
}

.errorMessage {
    margin-top: 10;
    color: red;
    font: sans-serif;
}

.login-header {
    font: 2em sans-serif;
    color: white;
    padding: 5%;
    text-align: center;
  }
  .forgot-password {
    font: 1em ;
    padding: 5%;
    text-align: left;
    color: blue;
  }