
.container {
    display: block;  
    width: 60%;
    //height: 400px;
    margin: 0 auto; 
    //padding: 0 20px;
    //background: #f1f7fa;    
  }

 @media (max-width: 480px) { 
    .container { width: 100%;}
  }
